@header-height: 51px;

.content {
    padding-top: @header-height;
}

div.sidebar {
    position: fixed;
    top: @header-height;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 0 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efefef;
    border-right: 1px solid #ddd;
}

.navbar-nav > li > .toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 75px;
}

.nav-sidebar {
    .nav-sidebar {
        margin: 0;

        li > a {
            padding: 4px 15px 4px 30px;
        }
    }

    li > a,
    li > div {
        padding: 10px 15px;
    }

    .active > a,
    .active > a:hover,
    .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }

    .user-link .avatar {
        width: 32px;
        height: 32px;
        border-radius: 4px;
    }
}

.main {
    position: fixed;
    top: @header-height;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-inner {
    margin: 2em;
}

.tags {
    .label {
        margin-right: 3px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.all-students-list {
    tbody tr {
        cursor: pointer;
    }
}

.my-status-reports {
    .list-group-item span {
        float: right;
    }
}

.status-report-editor {
    height: 100%;
    padding-bottom: @header-height;

    .panel {
        display: flex;
        flex-direction: column;
        height: 100%;

        .save-status {
            margin-left: 1em;
        }

        .panel-heading,
        .panel-footer {
            flex: 0 0 auto;
        }

        .editor-container {
            flex: 1 1 auto;
            overflow: hidden;
        }
    }
}

.summary-entry {
    border-top: 1px solid lightgrey;
    display: flex;
    padding: 1em;

    .summary-entry-title {
        flex: none;
        width: 9em;
    }

    .summary-entry-content {
        flex-grow: 1;
    }
}

.calendar {
    margin: 1em;

    .calendar-item {
        .btn-group {
            margin-right: 0.5em;
        }
        .labels {
            display: inline;
            margin-left: 0.5em;
        }
    }
}

.user-detail {
    .bio {
        margin: 20px;

        .name {
            font-size: 140%;
            font-weight: bold;
        }

        .bio-entry {
            line-height: 24px;
        }

        img {
            width: 96px;
            height: 96px;
            border-radius: 6px;
            margin-right: 15px;
            float: left;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        }

        .mentor-choice {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            margin: 2px;
        }

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    .selectize-input {
        min-width: 20em;
    }

    // Normally, inline x-editables use inline-block, but we want the notes
    // field to fill the full width available to it.
    .notes .editable-inline {
        display: block;

        .form-group, .editable-input {
            display: block;
        }
    }

    .timeline-details {
        padding-left: 2em;
        color: darkgrey;
        max-width: 40em;
    }

    .link-list .delete-button {
        margin-right: 0.5em;
    }

    a.editable-click.editable-disabled,
    a.editable-click.editable-disabled:hover {
        color: #337AB7;
        cursor: pointer;
    }
}

.student-projects {
    height: 100%;

    .row {
        height: 100%;
    }

    #ideas-container {
        height: 100%;
        overflow-y: scroll;
    }

    #ideas {
        position: relative;

        .page-header {
            margin: 0;
        }

        .assignee {
            vertical-align: text-bottom;
            width: 28px;
            height: 28px;
        }

        .tags {
            margin-bottom: 10px;
        }

        section {
            margin: 0 0 3em 0;
        }

        ol, ul {
            margin: 1em 0 2em 0;
        }
    }

    #ideas-nav-container {
        height: 100%;
        overflow-y: scroll;

        // TODO: import bootstrap defs and use primary color from there.
        @color-muted: #333;
        @color-primary: #337ab7;

        .nav {
            li {
                a {
                    font-size: 13px;
                    font-weight: 500;
                    padding: 4px 10px 4px 13px;
                    color: @color-muted;

                    &:focus {
                        background-color: transparent;
                    }
                }

                &.active > a {
                    border-left: 3px @color-primary solid;
                    padding-left: 10px;
                    color: @color-primary;
                }
            }

            .nav {
                li {
                    a {
                        font-weight: 400;
                        padding-left: 33px;
                    }

                    &.active > a {
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

#login-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #login-button {
        flex: none;
        vertical-align: middle;

        a {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 28px;
            border: 1px solid darkgrey;
            border-radius: 4px;
            padding: 8px;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);

            &:hover {
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
            }
        }
    }
}


#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3em;
}

.event-list {
    padding: 0;
    list-style: none;
    text-align: left;

    .event-list-day {
        text-align: left;
        margin-bottom: 1em;

        time {
            color: darkred;
            font-size: 90%;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}

.editable-link {
    display: block;
    margin-bottom: 5px;

    span {
        width: 70px;
        display: inline-block;
    }

    input {
        font-weight: normal;
        width: 20em;
    }
}

.all-status-reports {
    #delete-button {
        margin-left: 4px;
    }

    #groups {
        display: inline-block;
        // TODO: link in bootstrap variables.less and use @font-size-base
        min-height: 14px;
        min-width: 4em;
    }

    .avatars {
        padding: 2px;

        .avatar {
            width: 30px;
            height: 30px;
            margin: 2px;
        }
    }

    .date-column {
        width: 250px;
    }
}

/* Cal-HeatMap CSS */
.cal-heatmap-container {
    display: block;
}

.graph-label {
    fill: #999;
    font-size: 10px;
}

.graph, .graph-legend rect {
    shape-rendering: crispedges;
}

.graph-rect {
    fill: #ededed;
}

.graph-subdomain-group rect:hover {
    stroke: #000;
    stroke-width: 1px;
}

.subdomain-text {
    font-size: 8px;
    fill: #999;
    pointer-events: none;
}

.hover_cursor:hover {
    cursor: pointer;
}

.qi {
    background-color: #999;
    fill: #999;
}

.q1 {
    background-color: #dae289;
    fill: #dae289;
}

.q2 {
    background-color: #cedb9c;
    fill: #9cc069;
}

.q3 {
    background-color: #b5cf6b;
    fill: #669d45;
}

.q4 {
    background-color: #637939;
    fill: #637939;
}

.q5 {
    background-color: #3b6427;
    fill: #3b6427;
}

rect.highlight {
    stroke: #444;
    stroke-width: 1;
}

text.highlight {
    fill: #444;
}

rect.now {
    stroke: red;
}

text.now {
    fill: red;
    font-weight: 800;
}

.domain-background {
    fill: none;
    shape-rendering: crispedges;
}

.ch-tooltip {
    padding: 10px;
    background: #222;
    color: #bbb;
    font-size: 12px;
    line-height: 1.4;
    width: 140px;
    position: absolute;
    z-index: 99999;
    text-align: center;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: none;
    box-sizing: border-box;
}

.ch-tooltip::after {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: "";
    padding: 0;
    display: "block";
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    border-width: 6px 6px 0;
    border-top-color: #222;
}
