<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Student Sonar</title>
        <!-- build:css -->
        <link rel="stylesheet/less" href="css/style.less" shim-shadowdom />
        <!-- endbuild -->
        <!-- build:webcomponents -->
        <script src="/jspm_packages/npm/webcomponents.js@0.5.3/webcomponents.min.js"></script>
	<script src="/jspm_packages/github/distros/less@2.4.0/less.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        {{#if user}}
            <header>
                <div>
                    <img src="{{user.avatar}}" width="36" height="36">
                    {{user.realName}}
                </div>

                <div>
                    {{!--
                    {{#if isAdmin}}
                    <a href="/admin">Admin</a>
                    {{/if}}
                    --}}

                    <a href="/logout">Log out</a>
                </div>
            </header>
        {{/if}}

        {{{body}}}
    </body>
</html>
