<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Student Sonar</title>
        <!-- build:css -->
        <link rel="stylesheet" href="style.css" shim-shadowdom />
        <!-- endbuild -->
        <!-- build:webcomponents -->
        <script src="/jspm_packages/npm/webcomponents.js@0.5.3/webcomponents.min.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        {{{body}}}
    </body>
</html>
